<template>
  <svg
    width="100vw"
    height="95vh"
    ref="graph"
    class="graph"
    :viewBox="`0 0 ${viewPort} ${viewPort}`"
    @mousedown="startDrag"
    @mousemove="drag"
    @mouseup="endDrag"
    @mouseleave="endDrag"
    @dblclick="clearSelection"
  >
    <marker id="arrow" viewBox="0 0 10 10" refX="7" refY="5"
      markerWidth="3" markerHeight="3"
      orient="auto-start-reverse">
      <path d="M 0 0 L 10 5 L 0 10 z"/>
    </marker>
    <marker id="highlightarrow" viewBox="0 0 10 10" refX="7" refY="5"
      markerWidth="3" markerHeight="3"
      orient="auto-start-reverse">
      <path d="M 0 0 L 10 5 L 0 10 z" fill="blue"/>
    </marker>
    <Node
      v-for="node in nodes"
      :key="node.id"
      :x="node.x"
      :y="node.y"
      :height="nodeHeight"
      :width="nodeWidth"
      :dragging="dragging && selectedNodeId === node.id"
      :title="node.id"
      :selected="isNodeSelected(node.id)"
      @nodeclicked="selectNode(node.id)"
      @nodeclicked-ctrl="ctrlSelectNode(node.id)"
    ></Node>
    <line
      v-for="edge in connectionEdges"
      :key="edge.id"
      :x1="edge.x1"
      :y1="edge.y1"
      :x2="edge.x2"
      :y2="edge.y2"
      class="edge"
      stroke-linecap="butt"
      :marker-start="getMarkerStart(edge.id)"
      :marker-end="getMarkerEnd(edge.id)"
      :stroke-width="selectedEdgeId === edge.id ? '4' : '3'"
      :stroke="selectedEdgeId === edge.id ? 'blue' : 'black'"
    />
    <!-- invisible lines for click event -->
    <line
      v-for="edge in connectionEdges"
      :key="edge.id + 789"
      :x1="edge.x1"
      :y1="edge.y1"
      :x2="edge.x2"
      :y2="edge.y2"
      class="edge"
      @click="selectEdge(edge.id)"
      stroke-width="20"
      stroke="rgba(0,0,0,0)"
    />
  </svg>
</template>

<script>
import Node from "@/components/Node";

const VIEWPORT_WIDTH = 500

const CONNECTION_TYPE = {
  PUB_SUB: "pub_sub",
  REQ_RES: "req_res",
};

const DIRECTION = {
  X: "x",
  Y: "y"
}

export default {
  name: "Graph",
  components: {
    Node
  },
  props: {
    scale: Number
  },
  data() {
    return {
      startPosition: { x: 0, y: 0 },
      dragging: false,
      nodeHeight: 50,
      nodeWidth: 100,
      selectedNodeId: null,
      selectedNodes: new Set(),
      selectedEdgeId: null,
      // start positions
      nodes: [
        { id: "1", x: 50, y: 50 },
        { id: "2", x: 200, y: 50 },
        { id: "3", x: 350, y: 150 },
        { id: "4", x: 350, y: 250 },
        { id: "5", x: 200, y: 300 },
      ],
      connections: [
        { from: "1", to: "2", type: CONNECTION_TYPE.REQ_RES },
        { from: "3", to: "4", type: CONNECTION_TYPE.REQ_RES },
        { from: "2", to: "3", type: CONNECTION_TYPE.REQ_RES },
        { from: "1", to: "3", type: CONNECTION_TYPE.REQ_RES },
        { from: "1", to: "4", type: CONNECTION_TYPE.REQ_RES },
        { from: "4", to: "5", type: CONNECTION_TYPE.REQ_RES }
      ],
      history: [],
      redoArray: []
    };
  },
  computed: {
    connectionEdges() {
      return this.connections
        .map(el => this.getConnectionEdge(el))
        .filter(el => el !== null)
    },
    viewPort() {
      if (this.scale) {
        return VIEWPORT_WIDTH * this.scale
      } else {
        return VIEWPORT_WIDTH
      }
    }
  },
  methods: {
    selectAllNodes() {
      console.log('select all')
      this.nodes.forEach(el => {
        this.selectedNodes.add(el.id)
      })
      this.$forceUpdate()
    },
    clearSelection() {
      this.selectedNodes.clear()
      this.selectedEdgeId = null
      this.$emit('selectEdge', null)
      this.$emit('selectNode', null)
      // needed because the Set has a hard time
      // triggering an update after being cleared
      this.$forceUpdate()
    },
    isNodeSelected(nodeId) {
      return this.selectedNodes.has(nodeId)
    },
    selectEdge(edgeId) {
      if (this.selectedEdgeId === edgeId) {
        this.selectedEdgeId = null;
        this.$emit('selectEdge', null);
      } else {
        this.selectedEdgeId = edgeId;
        this.$emit('selectEdge', edgeId);
      }
    },
    selectNode(nodeId) {
      this.selectedNodeId = nodeId
      this.$emit('selectNode', nodeId)
    },
    ctrlSelectNode(nodeId) {
      if (this.selectedNodes.has(nodeId)) {
        this.selectedNodes.delete(nodeId)
      } else {
        this.selectedNodes.add(nodeId)
      }
    },
    updateHistory() {
      this.history.push(JSON.parse(JSON.stringify(this.nodes)))
    },
    updateRedo() {
      this.redoArray.push(JSON.parse(JSON.stringify(this.nodes)))
    },
    undo() {
      if (this.history.length > 0) {
        this.updateRedo()
        this.nodes = this.history.pop()
      }
    },
    redo() {
      if (this.redoArray.length > 0) {
        this.updateHistory()
        this.nodes = this.redoArray.pop()
      }
    },
    getMarkerStart(edgeId) {
      return this.selectedEdgeId === edgeId ? 'url(#highlightarrow)' : 'url(#arrow)'
    },
    getMarkerEnd(edgeId) {
      return this.selectedEdgeId === edgeId ? 'url(#highlightarrow)' : 'url(#arrow)'
    },
    align(direction) {
      if (direction === DIRECTION.X || direction === DIRECTION.Y) {
        if (this.selectedNodes.size > 1) {
          this.updateHistory()
          let referenceNode = this.getNodeById(
              Array.from(this.selectedNodes)
              .sort((a,b) => {
                return a[direction] - b[direction]
              })[0]
            )
          this.nodes.forEach(el => {
            if (this.selectedNodes.has(el.id)) {
              el[direction] = referenceNode[direction]
            }
          })
        }
      }
    },
    alignVertical() {
      this.align(DIRECTION.X)
    },
    alignHorizontal() {
      this.align(DIRECTION.Y)
    },
    space(direction) {
      if (direction === DIRECTION.X || direction === DIRECTION.Y) {
        if (this.selectedNodes.size > 2) {
          this.updateHistory()
          let nodes = Array.from(this.selectedNodes)
            .map(el => this.getNodeById(el))
            .sort((a,b) => {
              return a[direction] - b[direction]
            })
          let node1 = nodes[0]
          let node2 = nodes[1]
          let distance = node2[direction] - node1[direction]
          for(let i = 2; i < nodes.length; i++) {
            nodes[i][direction] = nodes[i-1][direction] + distance
          }
        }
      }
    },
    spaceHorizontal() {
      this.space('x')
    },
    spaceVertical() {
      this.space('y')
    },
    layoutNodes() {
      this.updateHistory()
      if (this.nodes && Array.isArray(this.nodes) && this.nodes.length > 1) {
        let numColumns = Math.ceil(Math.sqrt(this.nodes.length))
        let startX = this.nodes[0].x
        let startY = this.nodes[0].y
        for(let i = 0; i < this.nodes.length; i++) {
          this.nodes[i].x = startX + this.nodeWidth * 2 * (i % numColumns);
          this.nodes[i].y = startY + this.nodeHeight * 2 * (Math.floor(i/numColumns))
        }
      }
    },
    getNodeById(id) {
      let node = null
      this.nodes.forEach(el => {
        if (el.id === id) {
          node = el
        }
      })
      return node
    },
    getNodeLeft(node) {
      return {
        x: node.x,
        y: node.y + this.nodeHeight/2
      }
    },
    getNodeRight(node) {
      return {
        x: node.x + this.nodeWidth,
        y: node.y + this.nodeHeight/2
      }
    },
    getNodeBottom(node) {
      return {
        x: node.x + this.nodeWidth/2,
        y: node.y + this.nodeHeight
      }
    },
    getNodeTop(node) {
      return {
        x: node.x + this.nodeWidth/2,
        y: node.y
      }
    },
    getConnectionFunctions(fromNode, toNode) {
      let fromSide = null
      let toSide = null
      if (
        fromNode.y <= toNode.y
        && fromNode.x <= toNode.x + this.nodeWidth
        && fromNode.x + this.nodeWidth >= toNode.x
      ) {
        // console.log('CASE 1')
        fromSide = this.getNodeBottom 
        toSide = this.getNodeTop
      } else if (
        fromNode.x >= toNode.x + this.nodeWidth
      ) {
        // console.log('CASE 2')
        fromSide = this.getNodeLeft
        toSide = this.getNodeRight
      } else if (
        fromNode.x <= toNode.x + this.nodeWidth
        && fromNode.x + this.nodeWidth >= toNode.x
      ) {
        // console.log('CASE 3')
        fromSide = this.getNodeTop 
        toSide = this.getNodeBottom
      } else if (
        fromNode.x + this.nodeWidth <= toNode.x
      ) {
        // console.log('CASE 4')
        fromSide = this.getNodeRight
        toSide = this.getNodeLeft
      } else {
        console.log('DEFAULT CASE')
        fromSide = this.getNodeTop
        toSide = this.getNodeBottom 
      }
      return [ fromSide, toSide ]
    },
    getConnectionEdge(connection) {
      let fromNode = this.getNodeById(connection.from)
      let toNode = this.getNodeById(connection.to)

      if (fromNode !== null && toNode !== null) {
        let [fromFunc, toFunc] = this.getConnectionFunctions(fromNode, toNode)
        let fromNodeEdge = fromFunc(fromNode)
        let toNodeEdge = toFunc(toNode)
        return {
          // TODO: get unique id for line
          id: fromNode.id + toNode.id,
          x1: fromNodeEdge.x,
          y1: fromNodeEdge.y,
          x2: toNodeEdge.x,
          y2: toNodeEdge.y
        }
      } else {
        return null
      }
    },
    getMousePosition(event) {
      let CTM = this.$refs.graph.getScreenCTM()
      return {
        x: (event.clientX - CTM.e) / CTM.a,
        y: (event.clientY - CTM.f) / CTM.d
      }
    },
    startDrag(event) {
      this.dragging = true
      this.startPosition = this.getMousePosition(event)
      this.updateHistory()
    },
    drag(event) {
      if (this.dragging) {
        let coord = this.getMousePosition(event)
        let deltaX = coord.x - this.startPosition.x
        let deltaY = coord.y - this.startPosition.y
        if (this.selectedNodes.size > 1 && this.selectedNodeId && this.selectedNodes.has(this.selectedNodeId)) {
          this.nodes.forEach(el => {
            if (this.selectedNodes.has(el.id)) {
              el.x += deltaX
              el.y += deltaY
            }
          })
        } else if (this.selectedNodeId) {
          this.nodes.forEach(el => {
            if (this.selectedNodeId === el.id) {
              el.x += deltaX
              el.y += deltaY
            }
          })
        } else {
          this.nodes.forEach(el => {
            el.x += deltaX
            el.y += deltaY
          })
        }
        this.startPosition = coord
      }
    },
    endDrag() {
      this.dragging = false
      this.selectedNodeId = null
    }
  }
};
</script>

<style scoped>
.graph text {
  user-select: none;
}
.graph {
  cursor: move;
}
.edge:hover {
  cursor: pointer;
}
</style>
