// a nice reference
// https://dev.to/abolz/roll-your-own-svg-drag-and-drop-in-vuejs-2c7o
// http://www.petercollingridge.co.uk/tutorials/svg/interactive/dragging/
<template>
  <g
    ref="node"
    :style="cursor"
    class="node"
    @mousedown="$emit('nodeclicked')"
    @mousedown.ctrl="$emit('nodeclicked-ctrl')"
  >
    <rect
      :stroke-width="strokeWidth"
      :stroke="selected ? 'blue' : 'pink'"
      :fill="dragging ? 'white' : 'lightgray'"
      :x="x"
      :y="y"
      :width="width"
      :height="height"
    ></rect>
    <!-- top -->
    <circle :cx="x + width/2" :cy="y" r="4" fill="lime"></circle>
    <!-- left -->
    <circle :cx="x" :cy="y + height/2" r="4" fill="magenta"></circle>
    <!-- bottom -->
    <circle :cx="x + width" :cy="y + height/2" r="4" fill="khaki"></circle>
    <!-- right -->
    <circle :cx="x + width/2" :cy="y + height" r="4" fill="coral"></circle>
    <text :x="x + width/2" :y="y + height/2">{{ title }}</text>
    <!-- <foreignObject :x="x" :y="y" :width="width" :height="height">
      <div class="content">
        <button class="btn" @click="clicked=!clicked" :style="`background-color: ${clicked ? 'blue' : 'green'}`">html btn</button>
        <div v-if="clicked">On</div>
        <div v-else>Off</div>
      </div>
    </foreignObject> -->
  </g>
</template>

<script>
export default {
  name: "Node",
  props: {
    x: Number,
    y: Number,
    width: Number,
    height: Number,
    dragging: Boolean,
    selected: Boolean,
    title: String
  },
  data () {
    return {
      strokeWidth: "3",
      clicked: false,
    };
  },
  computed: {
    cursor() {
      return `cursor: ${this.dragging ? 'grabbing' : 'grab'}`
    }
  },
};
</script>

<style scoped>
.node {
  user-select: none;
}
.content {
  padding: 4px;
}
.btn {
  color: white;
}
.hamburger:hover {
  cursor:move;
}
</style>
