<template>
  <div id="app">
    <button @click="scaleUp">+</button>
    <button @click="scaleDown">-</button>
    <button @click="resetScale">Reset</button>
    <span class="ml-2">Scale: {{ scalePercent }} %</span>
    <span class="ml-4">Selected Node: {{ selectedNode }}</span>
    <span class="ml-2">Selected Edge: {{ selectedEdge }}</span>
    <button class="ml-4" @click="$refs.graph.layoutNodes()">Auto Layout</button>
    <button class="ml-2" @click="$refs.graph.alignHorizontal()">Horizontal</button>
    <button class="" @click="$refs.graph.alignVertical()">Vertical</button>
    <button class="" @click="$refs.graph.spaceHorizontal()">Space Horizontal</button>
    <button class="" @click="$refs.graph.spaceVertical()">Space Vertical</button>
    <button
      class="ml-2"
      @click="$refs.graph.undo()"
      @shortkey="$refs.graph.undo()"
      v-shortkey.once="['ctrl', 'z']"
    >
      Undo
    </button>
    <button
      @click="$refs.graph.redo()"
      @shortkey="$refs.graph.redo()"
      v-shortkey.once="['ctrl', 'y']"
    >
      Redo
    </button>
    <button
      class="ml-2"
      @click="$refs.graph.selectAllNodes()"
      @shortkey="$refs.graph.selectAllNodes()"
      v-shortkey.once="['ctrl', 'a']"
    >
      Select All
    </button>
    <Graph
      ref="graph"
      :scale="scaleFactor"
      @selectEdge="updateEdge"
      @selectNode="updateNode"
    />
  </div>
</template>

<script>
import Graph from "./components/Graph";

export default {
  name: "App",
  components: {
    Graph
  },
  data () {
    return {
      scaleFactor: 1,
      selectedNode: null,
      selectedEdge: null
    }
  },
  methods: {
    updateNode(id) {
      this.selectedNode = id
    },
    updateEdge(id) {
      this.selectedEdge = id
    },
    scaleUp() {
      this.scaleFactor -= 0.1
    },
    scaleDown() {
      this.scaleFactor += 0.1
    },
    resetScale() {
      this.scaleFactor = 1
    },
    autoLayout() {
      this.$refs.graph.layoutNodes()
    }
  },
  computed: {
    scalePercent() {
      return (1/this.scaleFactor * 100).toFixed(0)
    }
  }
};
</script>

<style>
body, html {
  padding: 0;
  margin: 0;
}
.ml-1 {
  margin-left: 4px;
}
.ml-2 {
  margin-left: 8px;
}
.ml-3 {
  margin-left: 16px;
}
.ml-4 {
  margin-left: 32px;
}
</style>
